body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.purchaseContainer {
  display: inline-block;
  margin: 0 auto;
  width: 30%;
}

.purchaseContainer h1 {
  font-family: "AileronLight", sans-serif;
  font-size: 70px;
}

.purchaseRow {
  text-align: left;
  padding-top: 25px;
  font-family: "AileronBold";
  font-size: 16px;
}

.purchaseRow label {
  padding-left: 25px;
}

.largePicture {
  display: inline-block;
  right: 0px;
  width: 60%;
}

.pictureRow {
  right: 0px;
  position: absolute;
  height: 200px;
  width: 50%;
}

.largePicture img {
  width: 500px;
  height: 500px;
}

.thumbnail {
  width: 20%;
  float: left;
}

.thumbnail img {
  border:1px solid #021a40;
  width: 150px;
  height: 150px;
}

.footer {
  height: 60px;
  background-color: #bae1ff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

ul {
	  list-style-type: none;
}
@font-face {
    font-family: AileronBold;
    src: url("../public/fonts/aileron/Aileron-Bold.otf") format("opentype");
}

@font-face {
    font-family: AileronBlack;
    src: url("../public/fonts/aileron/Aileron-Black.otf") format("opentype");
}

@font-face {
    font-family: AileronLight;
    font-weight: bold;
    src: url("../public/fonts/aileron/Aileron-Light.otf") format("opentype");
}

@font-face {
    font-family: AileronItalic;
    font-weight: bold;
    src: url("../public/fonts/aileron/Aileron-SemiBoldItalic.otf") format("opentype");
}