{% extends 'base.html' %}

{% block body %}

<section id="index">
  <div class="container">
    <h1>Django project template</h1>
    <hr>
    <div class="row">
      <div class="col col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Django 1.10 + Python 3</h3>
          </div>
          <div class="panel-body" style="min-height:300px;">
            <p>
              This template project is based on Django version 1.10 and Python 3.
            </p>
            <p>
              Full documentation of Django and a great tutorial here: <a href="https://docs.djangoproject.com/en/1.10/">https://docs.djangoproject.com/en/1.10/</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Vagrant</h3>
          </div>
          <div class="panel-body" style="min-height:300px;">
            <p>
              Vagrant is a great tool for development and testing.
              It enables you to run your project in a virtual Ubuntu environment,
              regardless of your operating system. In order to use Vagrant, you need to have
              installed <a href="https://www.virtualbox.org/">Virtualbox</a> on your computer.
            </p>
            <p>
              Start Vagrant with command <code>vagrant up</code>
            </p>
            <p>
              Connect to the vagrant machine with command <code>vagrant ssh</code>
              and navigate to <code>cd /vagrant</code> to see files shared with the host machine.
            </p>
            <p>
              Vagrant's configuration is defined in files <i>vagrantfile</i> and <i>bootstrap.sh</i>.
            </p>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Bootstrap 3</h3>
          </div>
          <div class="panel-body" style="min-height:300px;">
            <p>
              This template uses Twitter Bootstrap 3 as the basic UI framework.
            </p>
            <p>
              Bootstrap is a HTML, CSS and JS framework, which makes development of responsive and modern layouts super easy.
            </p>
            <p>
              Full documentation of Bootstrap here: <a href="http://getbootstrap.com/">hhttp://getbootstrap.com/</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Django REST Framework</h3>
          </div>
          <div class="panel-body" style="min-height:300px;">
            <p>Django REST framework enables you to setup a REST API to your service in minutes.</p>
            <p>Check out the documentation and a tutorial at: <a href="http://www.django-rest-framework.org/">http://www.django-rest-framework.org/</a></p>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Fonts Awesome</h3>
          </div>
          <div class="panel-body" style="min-height:300px;">
            <p>These awesome icons include almost every sort of icon you can imagine.</p>
            <p>
              <i class="fa fa-rocket"></i>
              <i class="fa fa-space-shuttle fa-2x"></i>
              <i class="fa fa-truck fa-3x"></i>
              <i class="fa fa-user fa-4x"></i>
              <i class="fa fa-signal fa-5x"></i>
            </p>
            <p>Rest of the icons and the documentation here: <a href="http://fontawesome.io/">http://fontawesome.io/</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
